/**
 * Sets the buttons inherit their base colors from the current color applied.
 */
@mixin button-color($theme, $color) {
  border-color: transparent;
  color: t($theme, $color);
  background-color: transparent;
  &:hover,
  &:active {
    color: t($theme, 'on-' + $color);
    background-color: t($theme, $color);
  }
}

/**
 * Sets the buttons inherit their borders from the current color applied.
 */
@mixin button-outlined($theme, $color) {
  &.button--outlined {
    border-color: t($theme, $color);
    color: t($theme, $color);
    &:hover,
    &:active {
      color: t($theme, 'on-' + $color);
    }
  }
}

/**
 * Sets the buttons inherit their colors from the current color applied.
 */
@mixin button-solid($theme, $color) {
  &.button--solid {
    color: t($theme, 'on-' + $color);
    background-color: t($theme, $color);
    &:hover,
    &:active {
      border-color: t($theme, 'on-' + $color);
      box-shadow: 1px 1px 0 inset t($theme, $color);
    }
  }
}

/**
 * Sets all mixins
 */
@mixin button-design($theme, $color) {
  @include button-color($theme, $color);
  @include button-outlined($theme, $color);
  @include button-solid($theme, $color);
}
