/**
 * Sets the buttons inherit their base colors from the current color applied.
 */
@mixin button-color($theme, $color) {
  border-color: t($theme, 'on-' + $color);
  color: t($theme, $color);
  background-color: t($theme, 'on-' + $color);
  &:hover,
  &:active {
    color: t($theme, 'on-' + $color);
    background-color: t($theme, $color);
  }
}

/**
 * Sets the buttons inherit their borders from the current color applied.
 */
@mixin button-outlined($theme, $color) {
  &.button--outlined {
    border-color: t($theme, $color);
    color: t($theme, $color);
    &:hover,
    &:active {
      color: t($theme, 'on-' + $color);
    }
  }
}

/**
 * Sets the buttons inherit their colors from the current color applied.
 */
@mixin button-solid($theme, $color) {
  &.button--solid {
    color: t($theme, 'on-' + $color);
    background-color: t($theme, $color);
    &:hover,
    &:active {
      color: t($theme, $color);
      background-color: t($theme, 'on-' + $color);
    }
  }
}
